$colorPalette: ( Background: #ffffff, Primary : #071eb3);
@function color($sColor) {
    @return map-get($colorPalette, $sColor);
}

.container {
    float: none;
    margin-left: 200px;
}

.navbar {
    width: 1440px;
    height: 64px;
    background-color: color(Background);
    padding: 0px;
    a {
        height: 16px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 700;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        color: #071eb3;
        letter-spacing: 0.3px;
    }
    .bellotero {
        width: 133px;
        height: 26px;
        object-fit: contain;
        margin-left: 174px;
    }
    .Home {
        width: 39px;
        margin-left: 467px;
    }
    .Solutions {
        width: 62px;
        margin-left: 58px;
    }
    .Stories {
        width: 47px;
        margin-left: 40px;
    }
    .Partners {
        width: 57px;
        margin-left: 40px;
    }
    .About {
        width: 40px;
        margin-left: 40px;
    }
    .Blog {
        width: 30px;
        margin-left: 40px;
    }
}

.pageLocator {
    position: absolute;
    width: 39px;
    height: 4px;
    background-color: #071eb3;
    top: -.5px;
    left: 605px;
}