$colorPalette : (
    Background: #f9faff,
    Primary :  #071eb3,
    Bold-Text : #ffffff,
    TestimonialText: #161616
);

@function color($sColor){
    @return map-get($colorPalette,$sColor);
}

$Fonts : (
    Roboto : 'Roboto' ,
    Garam : 'Cormorant Garamond'
);

@function font($sFont){
    @return map-get($Fonts,$sFont);
}

.pageContent2 {
	display: grid;
	width: 1440px;
	height: 736;
	background-color: color(Background);
	grid-template-rows: 120px 56px 80px 254px 226px;
	grid-template-columns: 172px 1002px 266px;
	grid-template-areas: " . . ." ". tTitle ." ". . . " " . testimonialBox ." ". . .";
}

p {
	margin: 0px;
	padding: 0px;
}

.tTitle-box {
	width: 389px;
	height: 56px;
	background-color: color(Primary);
	grid-area: tTitle;
}

h2 {
	width: 381px;
	height: 40px;
	font-family: font(Roboto);
	font-size: 35px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.11;
	letter-spacing: 0.8px;
	color: color(Bold-Text);
	padding: 8px 0px 0px 8px;
}

.testimonialBox {
	background-color: color(Bold-Text);
	grid-area: testimonialBox;
	display: grid;
	grid-template-columns: 32px 95px 63px 215px 565px 32px;
	grid-template-rows: 32px 48px 16px 126px 32px;
	grid-template-areas: ". ................ .................. . ............... ." ". testimonialAuthor testimonialAuthor . testimonialText ." ". testP ................. . testimonialText ." ". ................ ................. . testimonialText ." ". . . . . .";
}

.testimonialText {
	width: 565px;
	height: 190px;
	font-family: font(Roboto);
	font-size: 24px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: normal;
	color: color(TestimonialText);
	grid-area: testimonialText;
}

.testimonialAuthor {
	width: 200px;
	height: 48px;
	font-family: font(Roboto);
	font-size: 32px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
	color: color(TestimonialText);
	grid-area: testimonialAuthor;
}

.testimonialPosition {
	width: 95px;
	height: 13px;
	font-family: font(Roboto);
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #a5a5a5;
	grid-area: testP;
}

.initialOpacityI {
	opacity: 0;
}

.visible {
	opacity: 1;
	animation-name: appear;
	animation-duration: 1s;
	animation-timing-function: ease-out;
}

.invisible {
	opacity: 0;
	animation-name: disappear;
	animation-duration: .5s;
	animation-timing-function: ease-out;
}

@keyframes disappear {
	0% {
		opacity: 1;
		transform: translateX(0);
	}

	100% {
		opacity: 0;
		transform: translateX(37px);
	}
}

@keyframes appear {
	0% {
		opacity: 0;
		transform: translateX(-37px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.btnArea {
	width: 233px;
	height: 56px;
	margin: 482px 0px 0px 1026px;
}

.btnPrev {
	background-color: color(Primary);
	width: 56px;
	height: 56px;
	margin-left: 1px;
	transform: rotate(270deg);
	padding-left: 9px;
}

.btnNext {
	background-color: color(Primary);
	width: 56px;
	height: 56px;
	transform: rotate(-270deg);
	padding-left: 10px;
}

.btnCounter {
	background-color: color(Primary);
	width: 120px;
	height: 56px;
	font-size: 16px;
	text-align: center;
}

.btnFont {
	font-family: font(Garam), serif;
	font-size: 32px;
	font-weight: 600;
	font-style: italic;
	font-stretch: normal;
	line-height: 1;
	letter-spacing: 0.7px;
	color: color(Bold-Text);
	padding-top: 10px;
}

.counterArea {
	height: 32px;
	width: 35px;
	justify-content: center;
	justify-items: center;
	font-size: 25px;
	margin: 7px 0px 0px 43px;
}

.arrow {
	height: 67%;
}

#p1Display {
	width: 30px;
	font-family: font(Garam), serif;
	font-size: 26px;
	font-weight: 600;
	font-style: italic;
	font-stretch: normal;
	line-height: 1;
	letter-spacing: 0.7px;
	color: color(Bold-Text);
	position: relative;
	bottom: 5px;
	right: 3px;
}
